# AR API Stuff

AR's notebook -- follows along with Lars's notebooks.

## Imports

In [15]:
import json
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize 
import requests

## AlphaVantage

Lars's log-in info: lars@kroijer.com / no password / API key: 7I3A5V6DQEWQRQEO

In [7]:
#input ticker below
symbol = "MSFT"

av_url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&apikey=7I3A5V6DQEWQRQEO"

av_r = requests.get(av_url)
av_data = av_r.json()
av_df = pd.DataFrame.from_dict(av_data["Time Series (Daily)"], orient = "index")
av_df.head(10)

            1. open  2. high   3. low 4. close 5. volume
2018-04-02  90.4700  90.8800  87.5100  88.5200  48515417
2018-04-03  89.5750  90.0500  87.8900  89.7100  37213837
2018-04-04  87.8500  92.7600  87.7300  92.3300  35559956
2018-04-05  92.4350  93.0650  91.4000  92.3800  29771881
2018-04-06  91.4900  92.4600  89.4800  90.2300  38026000
2018-04-09  91.0400  93.1700  90.6200  90.7700  31533943
2018-04-10  92.3900  93.2800  91.6400  92.8800  26939883
2018-04-11  92.0100  93.2900  91.4800  91.8600  24872110
2018-04-12  92.4300  94.1600  92.4300  93.5800  26758879
2018-04-13  94.0500  94.1800  92.4400  93.0800  23346063

## Quandl

Lars's login info: lars@kroijer.com / lkroijer / API key: FsxyvTxSuRjkzknsUhFe

In [18]:
#input ticker below
ticker = "FB"

q_url = f"https://www.quandl.com/api/v3/datasets/WIKI/{ticker}/data.json?api_key=FsxyvTxSuRjkzknsUhFe"

q_r = requests.get(q_url)
# print (q_r.content)
q_data = q_r.json()
q_df = pd.DataFrame.from_dict(q_data["dataset_data"], orient = "index")
q_df.head(10)

                                                              0
limit                                                      None
transform                                                  None
column_index                                               None
column_names  [Date, Open, High, Low, Close, Volume, Ex-Divi...
start_date                                           2012-05-18
end_date                                             2018-03-27
frequency                                                 daily
data          [[2018-03-27, 156.31, 162.85, 150.75, 152.19, ...
collapse                                                   None
order                                                      None